.verify-email {
    height: calc(100vh - 130px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.verify-email-icon {
    font-size: 80px;
    color: var(--logo-color);
}
.verify-email-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: var(--white-color);
    text-align: center;
}
a.verify-email-link {
    color: var(--main-color);
    font-size: 15px;
    font-weight: 600;
    background-color: var(--dark-color);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.4s;
}
a.verify-email-link:hover {
    color: var(--body-color);
    font-size: 15px;
    font-weight: 600;
    background-color: var(--logo-color);
    padding: 5px 10px;
    border-radius: 5px;
}
.verify-email-not-found {
    font-size: 40px;
    color: var(--logo-color);
}