footer {
    color: var(--white-color);
    font-size: 18px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

footer .copyright-link {
    color: var(--logo-color);
    margin-left: 5px;
}
footer .copyright-link:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 350px) {
    footer {
        font-size: 15px;
    }
}
@media (max-width: 254px) {
    footer {
        font-size: 12px;
    }
}