@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
.container{
  background: #3498DB;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  padding: 0 50px;
}
h1{
  font-size: 15vh;
}
h2 span{
  font-size: 4rem;
  font-weight: 600;
}
h3 span {
    cursor: pointer;
}
h3 span:hover {
    text-decoration: underline;
}
a:link, a:visited{
  text-decoration: none;
  color: #fff;
}
h3 a:hover{
  text-decoration: underline
}