.admin-dashboard {
    display: flex;
    overflow: hidden;
    width: 100%;
    min-height: calc(100vh - 130px);
}

/* Admin SideBar */
.admin-sidebar {
    flex: 2;
    border-right: 2px solid #242526;
    padding: 20px;
}
.admin-sidebar-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--main-color);
    margin-bottom: 30px;
    display: block;
    font-family: 'Fira Code', monospace;
}
.admin-sidebar-title .icon {
    margin-right: 5px;
    color: var(--logo-color);
    margin-bottom: -3px;
}
.admin-dashboard-list {
    padding: 5px;
} 
.admin-sidebar-link {
    color: var(--main-color);
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 5px;
    cursor: pointer;
    display: block;
    padding: 10px 0;
    border-radius: 10px;
    transition: 0.4s;
}
.admin-sidebar-link .icon {
    margin-right: 5px;
    font-size: 22px;
    margin-bottom: -3px;
}
.admin-sidebar-link:hover {
    color: var(--body-color);
    background-color: var(--logo-color);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 5px;
    cursor: pointer;
    display: block;
    padding: 10px 10px;
    border-radius: 10px;
}

/* Admin Main */
.admin-main {
    flex: 10;
    padding: 10px;
}
.admin-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid #242526;
}
.admin-main-card {
    border: 2px solid #242526;
    width: 22%;
    margin: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #242526;
}
.admin-card-title {
    font-size: 21px;
    font-weight: 500;
    color: var(--main-color);
}
.admin-card-count {
    color: var(--main-color);
    font-size: 24px;
    font-weight: 600;
    margin: 5px 0;
}
.admin-card-link-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-card-link {
    font-size: 15px;
    background-color: var(--body-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 500;
    color: var(--main-color);
    transition: 0.4s;
}
.admin-card-link:hover {
    background-color: var(--logo-color);
    color: var(--body-color);
}
.admin-card-icon {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--main-color);
}

/* Add Category Form */
.add-category {
    margin: 10px auto;
    margin-top: 20px;
    width: 700px;
    background-color: #242526;
    border-radius: 10px;
    padding: 30px;
}
.add-category-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 15px;
}
.add-category-form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}
.add-category-form-group label {
    margin: 5px;
    font-size: 15px;
    font-weight: 600;
    color: var(--main-color);
}
.add-category-form-group input {
    padding: 10px;
    background-color: var(--body-color);
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: var(--main-color);
}
.add-category-btn {
    cursor: pointer;
    border: none;
    background-color: var(--logo-color);
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    padding: 10px;
    color: var(--body-color);
}

/* Responsive */
@media (max-width: 1200px) {
    .admin-main-card {
        width: 44%;
    }
}
@media (max-width: 990px) {
    .admin-sidebar{
        display: none;
    }
    .add-category {
        width: 100%;
        margin: 0;
    }
}
@media (max-width: 520px) {
    .admin-main-card {
        width: 100%;
    }
}
@media (max-width: 300px) {
    .admin-main-card {
        width: 90%;
    }
    .add-category {
        width: 90%;
        margin: 0;
    }
    .add-category-title {
        font-size: 20px;
    }
    .add-category-form-group input {
        padding: 8px;
        font-size: 15px;
    }
    .add-category-btn {
        width: 100%;
        font-size: 15px;
        padding: 5px;
    }
}