.create-post {
    width: 100%;
    min-height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.create-post-div {
    background-color: #242526;
    padding: 20px;
}

.create-post-title {
    font-size: 30px;
    color: var(--main-color);
    margin-bottom: 10px;
    text-align: center;
}

.create-post-form {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.create-post-input, 
.create-post-textarea,
.create-post-upload {
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    padding: 15px;
    margin: 5px 0;
    color: var(--white-color);
    background-color: var(--body-color);
}

::placeholder {
    color: var(--white-color);
}

.create-post-textarea {
    resize: none;
}

.tags-input-container {
    padding: 0.5em 1em;
    border-radius: 10px;
    width: 100%;
    background-color: var(--body-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3em;
}

.tag-item {
    background-color: #242526;
    display: inline-block;
    padding: 0.5em 0.75em;
    border-radius: 20px;
}

.tag-item .close {
    height: 20px;
    width: 20px;
    background-color: var(--logo-color);
    color: var(--body-color);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5em;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.tags-input {
    flex-grow: 1;
    padding: 0.5em 0;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    color: var(--white-color);
}

.create-post-label {
    margin: 5px 0;
}

.tag-submit {
    background-color: var(--logo-color);
    border: none;
    outline: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
}

.create-post-upload {
    background-color: var(--body-color);
    color: var(--logo-color);
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

.post-image {
    width: 200px;
    height: 200px;
    margin: auto;
}

.create-post-btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: var(--logo-color);
    color: var(--body-color);
    border: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    transition: 0.2s;
}
.create-post-btn:hover {
    background-color: #e4af00;
}

/* Responsive */
/* @media (max-width: 820px) {
    .create-post-form {
        width: 100%;
    }
} */
@media (max-width: 550px) {
    .create-post-form {
        width: 300px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}
@media (max-width: 300px) {
    .create-post-form {
        width: 200px;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
}